</div>
</main>

<script src="{{ template_uri }}/assets/js/vendor/lightbox/js/jquery-1.11.0.min.js"></script>
<script src="{{ template_uri }}/assets/js/vendor/lightbox/js/lightbox.min.js"></script>
<script src="{{ template_uri }}/assets/js/dev.js?v=1.0.0"></script>
{{ wp_footer() }}

</body>
</html>
