<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Tim Perry - UK North West Software Engineer</title>
    <meta name="author" content="Tim Perry (http://www.timperry.co.uk)"/>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ template_uri }}/assets/css/dev.css?v=1.0.0"/>

</head>
<body>

<aside class="sidebar">
    <img src="{{ template_uri }}/assets/img/timperry.svg" class="sidebar__logo"/>

    <h1 class="sidebar__title">Tim Perry</h1>

    <p class="sidebar__tagline">Software Engineer</p>
    <nav class="sidebar__nav primary-nav">
        <ol>
            <li><a href="#" class="is-current">BLOG</a></li>
            <li><a href="#">PHOTOGRAPHY</a></li>
            <li><a href="#">CONTACT</a></li>
            <li><a href="#">ABOUT</a></li>
        </ol>
    </nav>
    <div class="sidebar__social-media">
        <a href="http://lnkd.in/SxF9TR" target="_blank"><i class="i i-linkedin"></i></a>
        <a href="https://www.facebook.com/mitrperry" target="_blank"><i class="i i-facebook"></i></a>
        <a href="https://twitter.com/timkinperry" target="_blank"><i class="i i-twitter"></i></a>
        <a href="https://github.com/timperry" target="_blank"><i class="i i-github"></i></a>
        <a href="http://steamcommunity.com/id/admintimmy" target="_blank"><i class="i i-steam"></i></a>
    </div>
    <small class="sidebar__copyright">timperry.co.uk 2014</small>
</aside>
<main class="content">
    <div class="wrap">